@page "/estatisticas"
@using BlazorApp1FrontEndSIGA
@using BlazorApp1FrontEndSIGA.Service
@using BlazorApp1FrontEndSIGA.Pages
@using BlazorApp1FrontEndSIGA.Entidades
@using BlazorApp1FrontEndSIGA.Layout
@using BlazorApp1FrontEndSIGA.Shared
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador, Professor")]
@inject HttpClient Http

<h3>Estatísticas das Notas e Frequência</h3>
<button @onclick="GerarEstatisticas">Gerar Estatísticas</button>

@if (estatisticas != null)
{
    <div>
        <h4>Estatísticas Acadêmicas</h4>
        <p>Notas Médias por Disciplina:</p>
        <ul>
            @foreach (var item in estatisticas.NotasMediasPorDisciplina)
            {
                <li>@item.Key: @item.Value</li>
            }
        </ul>
        <p>Frequência Média por Disciplina:</p>
        <ul>
            @foreach (var item in estatisticas.FrequenciaMediaPorDisciplina)
            {
                <li>@item.Key: @item.Value</li>
            }
        </ul>
    </div>
}

@code {
    private Estatisticas estatisticas;

    private async Task GerarEstatisticas()
    {
        estatisticas = await Http.GetFromJsonAsync<Estatisticas>("api/estatisticas/academicas");
    }

    public class Estatisticas
    {
        public Dictionary<string, double> NotasMediasPorDisciplina { get; set; }
        public Dictionary<string, double> FrequenciaMediaPorDisciplina { get; set; }
    }
}

